* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cairo", sans-serif;
}

.page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #DDD;
    text-align: center;
}

.card img {
    border-radius: 5px;
}

.card h2 {
    margin: 10px 0;
}

.page::before {
    --bg-Color: #0075FF;
    content: "";
    position: fixed;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) skew(0, -10deg);
    background-color: var(--bg-Color);
    width: 250%;
    height: 100%;
    border-radius: 50%;
    animation: wave 10s ease-in-out infinite alternate;
}

@keyframes wave {
    from {
        transform: translateX(-50%) skew(0, -10deg);
    }
    to {
        transform: translateX(-50%) skew(10deg, 0);  
    }
}